<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% include layout.ejs %>
        <div class="container">
            <h1>Contact</h1>
            <form method='post' action='contact/send'>
                <div id="name-label">
                    <label>Name</label>
                    <input class="form-control" type='text' name='name' placeholder='Enter Name'> </div>
                <div id="email-label">
                    <label>Email</label>
                    <input class="form-control" type='text' name='email' placeholder='Enter Email'> </div>
                <div id="message-label">
                    <label>Message</label>
                    <input class="form-control" type='text' name='message' placeholder='Enter Message'> </div>
                <div>
                    <br/>
                    <input type="submit"> </div>
            </form>
        </div>
</body>

</html>