<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% include layout.ejs %>
        <div class="container">
            <h1>Home</h1>
            <h1><%= title %></h1>
            <p>Welcome to
                <%= title %>
            </p>
        </div>
</body>

</html>