<link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.min.css' />
<script type="application/javascript" src="/javascripts/jquery-1.12.3.min.js"></script>
<script type="application/javascript" src="/javascripts/jquery-1.12.3.min.js"></script>
<script type="application/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/bower_components/angular/angular.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="/">Shambhu</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <% if(user){
                   %>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/about">About</a></li>
                    <% 
                } if(!user){
                   %>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/register">Register</a></li>
                        <% 
                }%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(user){
                   %>
                    <li><a href="/users/logout">Logout</a></li>
                    <% 
                } %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<%- messages() %>