<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% include layout.ejs %>
        <div class="container">
            <% if(errors){%>
                <ul>
                    <%
    errors.forEach(function(error){
        %>
                        <li>
                            <%=error.msg;%>
                        </li>
                        <%
    });
 %>
                </ul>
                <%   
} %>
                    <form method="post" action="/users/login">
                        <div id="name-label">
                            <label>User Name</label>
                            <input class="form-control" type='text' name='username' placeholder='Enter Username' value="<%= username%>"> </div>
                        <div id="email-label">
                            <label>Password</label>
                            <input class="form-control" type='text' name='password' placeholder='Enter Password' value="<%= password%>"> </div>
                        <div>
                            <br/>
                            <input type="submit"> </div>
                    </form>
        </div>
</body>

</html>